/libclaves.so
.vscode
cliente.out
servidor.out
tuplas.txt
claves/claves.o
cliente_concurrente.out
cliente_tests.out
temp_file.txt
libserverclaves.so
libsockets.so
funciones_servidor/funciones_servidor.o
funciones_sockets/funciones_sockets.o
